<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <button (click)="toggleSidebar()">
      <i class="material-icons">{{ isCollapsed ? 'menu_open' : 'menu' }}</i>
    </button>
  </div>
  <ul class="sidebar-menu">
    <li routerLink="/dashboard" routerLinkActive="active">Dashboard</li>
    <li routerLink="/settings" routerLinkActive="active">Configuración</li>
    <li (click)="logout()">Cerrar Sesión</li>
    <li routerLink="/users" routerLinkActive="active">Otros Usuarios</li>
  </ul>
</div>
