.sidebar {
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  position: fixed; /* Posición fija para que quede en su lugar al hacer scroll */
  top: 0;
  left: 0;
  overflow: hidden; /* Esconde el contenido que se desborda */
  transition: width 0.3s ease;
  z-index: 1000; /* Asegúrate de que el sidebar esté encima del contenido principal */
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 15px;
  text-align: left; /* Alineación a la izquierda */
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebar-menu li:hover,
.sidebar-menu li.active {
  background-color: #444;
}

.sidebar-menu li i.material-icons {
  margin-right: 10px;
  vertical-align: middle; /* Asegúrate de que el icono esté alineado verticalmente con el texto */
}
