<div class="dashboard-container" [class.collapsed]="isSidebarCollapsed">
  <app-sidebar (collapseEvent)="onSidebarCollapse($event)"></app-sidebar>
  <div class="content">
    <h2>Welcome, {{ user?.name }}</h2>
    <div *ngIf="user">
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
    </div>

    <h2>Your Motorcycles</h2>
    <div *ngIf="motorcycles && motorcycles.length > 0; else noMotorcycles">
      <table>
        <thead>
        <tr>
          <th>Brand</th>
          <th>Model</th>
          <th>License Plate</th>
          <th>Fuel Type ID</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let motorcycle of motorcycles">
          <td>{{ motorcycle.brand }}</td>
          <td>{{ motorcycle.model }}</td>
          <td>{{ motorcycle.licensePlate }}</td>
          <td>{{ motorcycle.fuelTypeId }}</td>
          <td>
            <button (click)="editMotorcycle(motorcycle)">Edit</button>
            <button (click)="deleteMotorcycle(motorcycle.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noMotorcycles>
      <p>No motorcycles found for this user.</p>
    </ng-template>

    <!-- Añadir la gráfica de eficiencia de combustible -->
    <h2>Fuel Efficiency Comparison</h2>
    <app-fuel-comparison></app-fuel-comparison> <!-- Incluir el componente de comparación de combustibles -->

    <!-- Segunda gráfica con todos los datos de usuarios, motocicletas y recargas -->
    <h2>All Fuel Efficiency Comparison</h2> <app-all-fuel-comparison></app-all-fuel-comparison>
  </div>
</div>
